Flask==2.0.3
Flask-Cors==3.0.10
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.3
Jinja2==3.0.3
python-dotenv==0.20.0
pymongo==4.1.1
requests==2.27.1
Werkzeug==2.0.3
